main {
    border-style: solid;
    border-width: 1px;
    height: 92vh;
}

.mainbox {
    margin-top: 2.5vh;
    position: relative;
    width: 500px;
    height: 500px;
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    overflow: hidden;

}

.section1 {
    margin-top: 2vh;
    border-style: solid;
    border-width: 1px;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.section1 div {
    margin-top: 7vh;
}

.section2 {
    height: 49.75vh;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;

}

.section3 {
    height: 89.75vh;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
}

.section2 div {
    margin-top: 10vh;
}