<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 




	</head>
	
	<body>

        <form class="grid" action="/result" method="POST">

          
            <center>
              <h3 style="color:aquamarine;" class="let_space"> Random Task: {{ task }} </h3>
            </center> 

          
           
          <label for="name">Input Tasks:</label>
          <input type="text" id="name" name="name">

          <center><input class="file_submit" type="Submit"></center>

        </form>

        

        

        
        <br>
        <br>
        <br>


    </body>

</html>