header {
    height: 8vh;
    background-color: #009dff;
    width: 100%;
}

nav {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a:hover {
    transition-duration: 0.4s;
    color: #009dff;
    background-color: white;
    border-radius: 5px;
}

ul {
    display: flex;
    list-style: none;
    gap: 4vh;
    padding: 0;
    margin: 0;
}

ul li a {
    padding: 1.5vh;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#navimg{
    padding-top:0px;
}

#navimg:hover {
background-color: #009dff;
}
