<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Generator | The Wheel</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/wheel.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <a href="index.html" id="navimg"><img src="images/logo-placeholder.png" alt="Put Logo Here" width="175px"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="wheel.html">Wheel</a></li>
                <li><a href="">Placeholder3 </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section3">
                <div class="mainbox">
                    <div class="box">
                        <div class="box1">
                            <span class="span1"></span>
                            <span class="span2"></span>
                            <span class="span3"></span>
                            <span class="span4"></span>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</body>
</html>